<div class="container" *ngIf="this.formData">
  <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <div class="formGroup">
      <input id="id" name="id" #id="ngModel" [(ngModel)]="formData.id" type="text" hidden>
    </div>
    <div class="formGroup">
      <label for="title">Zadejte měsíc</label>
      <input id="title" name="title" #title="ngModel" [(ngModel)]="formData.title" type="text" placeholder="Zadejte název novinky">
    </div>
    <div class="formGroup">
      <label for="editor">Obsah novinky</label>
      <ckeditor
      id="editor"
      name="article"
      [editor]="this.Editor"
      #text="ngModel"
      [(ngModel)]="formData.text"
      [config]="{
        toolbar: [ 'heading', '|', 'bold', 'italic' ],
        placeholder: 'Zde zadejte text...'
      }"
      tagName="textarea">
    </ckeditor>
    </div>

    <div class="flex button-section justify-content-space-between">
      <button id="back" class="btn-secondary" routerLink="/aktuality">Zpět</button>
      <button class="btn-primary" type="submit">Uložit</button>
    </div>
  </form>
</div>

