.red{
  color: #f13f3f;
}

.close{
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 15px;
}

.add{
margin-right: 5px;
color: #3fd881;
}

.add-button{
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #3fd881;
  width: 115px;
}

.label-load{
  margin-bottom: 10px;
}