<ng-container *ngIf="isAdmin && loggedIn else elseTemplate">
  <header>Vítaj</header>
  <router-outlet></router-outlet>
</ng-container>
<ng-template #elseTemplate>
  <div class="login-container flex align-items-center justify-content-center">
    <form [formGroup]="loginForm" class="box flex align-items-center justify-content-center column">
      <label class="form-item">
        <div>E-mail</div>
        <input type="text" formControlName="email" autocomplete="email" autofocus required>
      </label>
    
      <label class="form-item">
        <div>Password</div>
        <input type="password" formControlName="password" autocomplete="current-password" required>
      </label>
      <button class="btn-primary" (click)="onSubmit()">Přihlásit se</button>
    </form>
  </div>
</ng-template>
