@mixin shadow {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(155, 155, 155, 0.27);
    -moz-box-shadow:    0px 0px 8px 0px rgba(155, 155, 155, 0.27);
    box-shadow:         0px 0px 8px 0px rgba(155, 155, 155, 0.27);
  }

*{
    padding: 0;
    margin: 0;
}
html, body{
    height: 100vh;
    width: 100vw;
    margin: auto;
}
.login-container{
    height: 100%;
    width: 100%;
}

form{
    width: max-content;
}

.box{
    border: 1px solid  #f2f3f4;
    border-radius: 10px;
    padding: 40px;
    @include shadow;
}

form > label > div, .form-item, form > button{
    margin-bottom: 10px;
}

input{
    border: 1px solid #f2f3f4;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    align-items: center;
    background-color: white;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 15px;
    text-align: center;
    transition-duration: .5s;
    &:hover, &:focus, &:active{
      border: 1px solid #33FF8D;
      outline-width: 0;
    }
    width: 100%;
}

.btn-primary{
    background-color: #33FF8D;
    border: 1px solid #33FF8D;
    border-radius: 10px;
    color: white;
    width: 100%;
    padding: 10px 0;
    &:hover{
      transition-duration: .5s;
      background-color: #21a85c;
      color: white;
      border: 1px solid #21a85c;
    }
    cursor: pointer;
}


.flex{display: flex;}
.row{flex-direction: row;}
.column {flex-direction: column;}
.wrap {flex-wrap: wrap;}
.no-wrap {flex-wrap: nowrap;}
//align-items
.align-items-flex-start{align-items: flex-start;}
.align-items-flex-end{align-items: flex-end;}
.align-items-center{align-items: center;}
.align-items-stretch{align-items: stretch;}
// Align-content
.align-content-space-around{align-content: space-around;}
.align-content-space-between{align-content: space-between;}
.align-content-stretch{align-content: stretch;}
.align-content-flex-end{align-content: flex-end;}
.align-content-flex-start{align-content: flex-start;}
.align-content-center{align-content: center;}
// justify-content
.justify-content-space-between{justify-content: space-between;}
.justify-content-space-evenly{justify-content: space-evenly;}
.justify-content-space-around{justify-content: space-around;}
.justify-content-flex-start{justify-content: flex-start;}
.justify-content-flex-end{justify-content: flex-end;}
.justify-content-center{justify-content: center;}