<div class="list">
    <div class="row flex list-item align-items-center justify-content-space-between" *ngFor="let item of folders; let i = index">
        <a class="title flex align-items-center" *ngIf="item.name" [routerLink]="['/dokumenty', path + '/' + item.name]">
            <i class="material-icons">folder</i>  {{item.name}}
        </a>
        <div class="flex">
            <button id="remove" class="btn-secondary" (click)="removeFolder(i)">Smazat</button>
        </div>
    </div>
    <div class="row flex list-item align-items-center justify-content-space-between" *ngFor="let file of files">
        <a class="title flex align-items-center" [href]="file.src">
            <i class="material-icons">text_snippet</i>  {{file.name}}
        </a>
        <div class="flex">
            <button id="remove" class="btn-secondary" (click)="file.ref.delete()">Smazat</button>
        </div>
    </div>
</div>

<div class="flex button-section">
    <button id="add" class="btn-primary" (click)="router.navigate(['/pridat-dokument', path])">Přidat</button>
</div>

  